{{!< base.hbs}}

<div class="row">

    <section class="col-md-4 col-lg-3">
      <h2>What?</h2>
      <span class="bigWhat colOpenGraphic">
        <span class="glyphicon glyphicon-transfer"></span> Ideas
      </span>
      <p class="lead">
        Exchange.js is an <strong>open community</strong> of local developers and designers, who
        meet monthly to discuss a wide range of topics within the JavaScript ecosystem.
      </p>
      <p>
        Talks range from beginner to advanced and include the full stack of popular JavaScript
        technologies from jQuery to CoffeeScript to Node.js. It is also common to hear topics covering
        wider Web-technology trends and evolving standards. <a href="https://docs.google.com/spreadsheets/d/1_FOG1K_fUbTlNvqT9hjihiXYt9AhPkZxW6tfZN858VU/edit?usp=sharing" target="_blank" rel="noopener">Sign up to talk</a>, or
        <a href="https://github.com/ExchangeJS/exchangejs-org/issues/new?title=(YOUR%20TALK%20NAME%20HERE)&body=What,%20why,%20who?&labels=talk-ideas" target="_blank" rel="noopener">
        share an idea for a talk!</a>
      </p>
      <p>
        The format can change month-to-month, but generally includes industry news and community announcements,
        followed by two or three 5-15 minute talks. Often a run to the pub or coffee shop follows for
        those wishing to stay out later. All participants agree to follow our <a href="/code-of-conduct/">code of conduct</a>.
      </p>
      <p>
        Support Edmonton's JavaScript community and <a href="./sponsorship.html">become a sponsor today</a>.
      </p>
    </section>

    <section class="col-md-4 col-md-offset-0 col-lg-3 col-lg-offset-1">
      <h2>When?</h2>
      <span class="bigTime colOpenGraphic">
        <a href="https://www.meetup.com/startupedmonton/events/"><span class="glyphicon glyphicon-time"></span> Calendar</a>
      </span>
      <p class="lead">
        Meetings fall on the first <strong>Thursday</strong> of each month. Find us on <a href="https://www.meetup.com/startupedmonton/events/">meetup.com</a> to RSVP and for a list of upcoming and past events. <em>This calendar is also a great resource for
        other tech meetups and events happening in Edmonton.</em>
      </p>
      <p class="lead">
        <a href="/talks" class="btn btn-primary btn-lg">Watch past talks</a>
      </p>
    </section>

    <section class="col-md-4 col-md-offset-0 col-lg-3 col-lg-offset-1">
      <h2>Where?</h2>
      <div class="responsive-iframe">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2370.665635584326!2d-113.50124704865138!3d53.54588416734937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53a022493dc36ccb%3A0x39a254126e46b1f1!2sStartup%20Edmonton!5e0!3m2!1sen!2sca!4v1570497388738!5m2!1sen!2sca" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div><!-- /.responsive-iframe -->
      <p>
        <address>
          <strong>#300, 10363-104 Street</strong><br>
          Building B<br>
          Edmonton, Alberta
        </address>
      </p>
      <h3>Online</h3>
      <ul class="list-unstyled">
        <li><a href="https://www.youtube.com/channel/UCBC21Bfijpx4CCpjnBUdypg" target="_blank">YouTube</a></li>
        <li><a href="https://www.twitter.com/EdmontonJS" target="_blank">Twitter</a></li>
        <li><a href="https://www.facebook.com/ExchangeJS" target="_blank">Facebook</a></li>
        <li><a href="https://gitter.im/ExchangeJS/exchangejs.github.io" target="_blank">Gitter</a></li>
      </ul>
    </section>

  </div>

  <div class="row">
    <section class="col-md-4">
      <h2><a class="natural" href="/jobs">Jobs</a></h2>
      <ul class="list-unstyled">
        {{# each jobs}}
        <li>
          <a href="/jobs/{{slug}}"><strong>{{title}}</strong> at {{company}}</a>
        </li>
        {{/ each}}
      </ul>

      <p>
        <a href="/jobs">See all jobs...</a>
      </p>

      <a href="/submit-your-job" class="btn btn-default">Submit your job!</a>
    </section>

    <section class="col-md-8">
      <h2><a class="natural" href="/talks">Talks</a></h2>
      <div class="row">
        {{# each talks}}
        <div class="col-sm-6">
          <a href="https://www.youtube.com/watch?v={{youtubeVideoId}}">
            <p><strong>{{title}}</strong> by <em>{{speaker.name.first}} {{speaker.name.last}}</em></p>
            <img src="https://img.youtube.com/vi/{{youtubeVideoId}}/hqdefault.jpg">
          </a>
        </div>
        {{/ each}}
      </div>
    </section>
  </div>
