{{!< base.hbs}}

<div class="row">
    <section class="col-md-12 col-lg-12">
        <h2>{{title}} at {{company}}</h2>
        <h4>{{#if department }}{{department}} / {{/if}}<em>{{location}} {{#if is_remote}}(remote work available){{/if}}</em></h4>
        <hr>
    </section>
</div>

<div class="row">
    <section class="col-md-8 col-lg-8">
        <h3>Summary</h3>
        {{{ summary.html }}}

        {{{ details.html }}}

        <a href="{{url_to_apply}}" target="_blank" rel="noopener" class="btn btn-primary">Apply now!</a>
        {{#if url_to_find_out_more }}
        <a href="{{url_to_find_out_more}}" target="_blank" rel="noopener" class="btn btn-default">Find out more..</a>
        {{/if}}
    </section>
    <section class="col-md-4 col-lg-4">
        <p>
            <a href="{{url_to_apply}}" target="_blank" rel="noopener" class="btn btn-primary btn-lg btn-block">Apply now!</a>
        </p>
        
        <ul>
            <li><em>{{location}} {{#if is_remote}}(remote work available){{/if}}</em></li>
            {{#if department }}<li>{{department}}</li>{{/if}}
            <li>{{employment_type}}</li>
        </ul>
    </section>
</div>

