{{!< base.hbs}}

<h2>Talks</h2>

<p class="text-center youtube-btn-wrapper">
  <a href="https://www.youtube.com/channel/UCBC21Bfijpx4CCpjnBUdypg" class="btn btn-primary btn-lg" target="_blank">
    Visit our YouTube channel
  </a>
</p>

<div class="talks">

  {{# each talks}}
    <article class="talk">
      <a href="https://www.youtube.com/watch?v={{youtubeVideoId}}" class="talk__videoLink" data-video-id="{{youtubeVideoId}}" target="_blank">
        <img src="https://img.youtube.com/vi/{{youtubeVideoId}}/0.jpg" alt="Thumbnail of {{title}}" />
        <p class="talk__meta">{{date presentedOn format="MMM YYYY"}}</p>
        <h3 class="talk__title">{{title}}</h3>
        <p class="talk__meta"><strong>{{speaker.name.first}} {{speaker.name.last}}</strong></p>
        <p class="talk__description">{{description}}</p>
      </a>
    </article>
  {{/ each}}

</div>

<div class="modal fade video" tabindex="-1" id="video-modal" aria-label="Video popup">
  <div class="modal-dialog" role="document">
    <div class="modal-content embed-responsive" style="padding-bottom:56%">
      <iframe id="video-iframe" class="embed-responsive-item" width="100%" frameborder="0" src="">
      </iframe>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
