{{!< base.hbs}}

<h2>Talks</h2>

<p class="text-center youtube-btn-wrapper">
  <a href="https://www.youtube.com/channel/UCBC21Bfijpx4CCpjnBUdypg" class="btn btn-primary btn-lg" target="_blank">
    Visit our YouTube channel
  </a>
</p>

<div class="row">

  {{# each talks}}
    <article class="talk col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-1">
      <!-- NOT AT MY COMPUTER RIGHT NOW, BUT I DISCOVERED YOU CAN GET YOUTUBE THUMBNAILS FROM URLS LIKE THIS:
      
          https://img.youtube.com/vi/<insert-youtube-video-id-here>/hqdefault.jpg
          
          DETAILS FROM:
          
          http://stackoverflow.com/questions/2068344/how-do-i-get-a-youtube-video-thumbnail-from-the-youtube-api
          
          WE CAN USE THIS TO ADD SCREENSHOTS TO THE LAYOUT.. -Mark
      
      -->
      <a href="https://www.youtube.com/watch?v={{youtubeVideoId}}" class="talk__videoLink" data-video-id="{{youtubeVideoId}}" target="_blank">
        <i class="glyphicon glyphicon-facetime-video"></i>
      </a>
      <p class="talk__meta">{{date presentedOn format="MMM YYYY"}}</p>
      <h3 class="talk__title">{{title}}</h3>
      <p class="talk__meta"><strong>{{speaker.name}}</strong></p>
      <p class="talk__description">{{description}}</p>
    </article>
  {{/ each}}

</div>

<div class="modal fade video" tabindex="-1" id="video-modal" aria-label="Video popup">
  <div class="modal-dialog" role="document">
    <div class="modal-content embed-responsive" style="padding-bottom:56%">
      <iframe id="video-iframe" class="embed-responsive-item" width="100%" frameborder="0" src="">
      </iframe>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
